/* General styling for the Banking Financial App */
body {
  margin: 0;
  font-size: 100%;
  font-family: 'NotoSansSC-Regular', 'IBMPlexSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "NotoSansSC-Regular";
  src: local("NotoSansSC-Regular"),
    url("./fonts/NotoSansSC-Regular.otf") format("truetype");
  font-weight: normal;
}

p {
  font-size: 0.9em;
}

/* Misc */
.myheadings, .myheadings2 {
  font-weight: bold;
  color: #ec111a;
}
.myheadings {
  font-size:  2.5em; /* 40px/16=2.5em */
}
.myheadings2 {
  font-size:  1.5em;
}

.img_responsive  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.notify {
  color:#ec111a;
  font-weight:bold;
  font-style: italic;
}

.textCaptionStyle {
  margin: 10px 5px 5px 10px;
  font-size: 2.5em;
}

.textBodyStyle {
  margin: 10px 5px 5px 10px;
}

.iconHeader {
  margin-left: 20px;
  margin-right: 5px;
  color: #ec111a;
}

.fontBold {
  font-weight: bold;
  color: #7849bb;
}

.btnPadding {
  margin: 0px 15px;
}

.bbcpHR {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px #f6f7fc;
    /* margin-left: 60px; */
}

.bbcpHR:after {
    content: "\00a0";  /* Prevent margin collapse */
  /* See https://css-tricks.com/examples/hrs/ | "Not really supposed to work, but does" */
}

.userAvatar {
  color: green;
  /* background-color: green; */
}

.tableIcons {
  size: 18;
  /* color: red;  */
}

.mySpacer {
  margin: 30px 0px;
  /* border: 1px solid #ec1188; */
}

/* Footer */
.footer {
  background-color: #f6f7fc;
}
.footerTitle {
  color:#005587;
  font-weight:bold;
  font-family: "IBMPlexSans-Regular", Helvetica, sans-serif;
  /* font-size: 1.875em; */
}

.tableHeadings {
  height: 35px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 15px 0px 23px;
  /* margin: 0 31px 34px 23px;  */
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

.iconRecurring {
  color: red;
}

/* Format Tables */
.verticalScrollTable table  {
  width: 100%;
  display:block;
}

.verticalScrollTable thead {
  display: inline-block;
  width: 100%;
  /* height: 20px;  */
}

.verticalScrollTable tbody {
  height: 250px;
  display: inline-block;
  width: 100%;
  overflow: auto;
}

/* table */
.bbcptable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  /* width: 100%; */
}

.bbcptable td, .bbcptable th {
  border: 1px solid #ddd;
  padding: 4px;
}
.bbcptable th {
  height: 40%;
}

.bbcptable tr:nth-child(even){background-color: #f2f2f2;}
.bbcptable tr:hover {background-color: #ddd;}
.bbcptable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #ec111a;
  color: white;
}


/* Styling for Banner */
.bannerHeadline {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.bannerSubTitle {
  font-family: Scotia;
  font-size: 20px;
  color: #3a3a3a;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

/* Scroll Bars */
/* width */
::-webkit-scrollbar  {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track  {
  /* Scotia-Gray 300 */
  /*  background: #f6f6f6;  */
  background-color: rgba(177, 177, 177, 0.2);
}



/* Handle */
::-webkit-scrollbar-thumb  {
  background: #b1b1b1;
  width: 7px;
  height: 47px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover  {
  background: #009dd6;  /* Scotia-Blue */
}